* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    animation-name: fueraColor;
    animation-duration: 2.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.loader1,
.loader2,
.loader3 {
    width: 14rem;
    height: 1.4rem;
    background-color: #aaa;
    animation-name: cambiarColor;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.loader1 {
    animation-delay: .6s;
}

.loader2 {
    animation-delay: .4s;
}

.loader3 {
    animation-delay: .2s;
}

@keyframes fueraColor {
    0% {
        background-color: white;
    }
    75% {
        background-color: white;
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
        z-index: -1;
    }
}

@keyframes cambiarColor {
    0% {
        width: 14rem;
    }
    100% {
        width: 0;
    }
}

.main-nav {
    position: absolute;
    /* display: none; */
    bottom: 0;
    display: flex;
    width: 50%;
    justify-content: center;
}

.main-nav__items a {
    font-size: 1.5rem;
    text-decoration: none;
    list-style: auto;
    color: #aaa;
    border-bottom: solid 2px rgba(0, 0, 0, 0);
}

.main-nav__items a:hover {
    border-bottom: solid 2px #aaa;
}

.main-nav__items a:hover {
    transform: scale(1.1);
}

.main-nav__items a {
    transition: .3s;
}

.main-nav__items a::before {
    content: "• ";
}

.main-nav__item {
    display: inline-flex;
    margin: 4rem 2rem;
    font-size: 1.3rem;
}

.first-section {
    background-color: #eee;
    grid-row: span 2;
}

.first-section h1 {
    font-size: 11rem;
    font-weight: 100;
}

.first-info {
    max-width: 34rem;
    margin-inline: auto;
    line-height: 1.2rem;
}

.second-section {
    background-color: #fff;
}

.second-section h1 {
    font-size: 6rem;
    font-weight: 100;
}

.second-icon a {
    position: absolute;
    z-index: 1;
    margin-top: 26rem;
    padding-left: 42%
}


/* .second-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
} */

.second-info {
    max-width: 34rem;
    margin: 0 4rem;
    line-height: 1.2rem;
}

.fa-arrow-right {
    color: #fff;
    border-radius: .2rem;
    background-color: #aaa;
    padding: .8rem .8rem;
    font-size: 2rem;
}

.fa-arrow-right {
    transition: .3s;
}

.fa-arrow-right:hover {
    transform: scale(1.1);
}

.third-section {
    background-color: #aaa;
    display: flex;
    flex-direction: column;
}

.third-section h1 {
    font-size: 4rem;
    color: #fff;
    font-weight: 100;
}

[class*="title"] {
    margin-block: 2rem 3rem;
}

.third-imagens {
    display: flex;
    width: max-content;
    margin-inline: auto;
}

.third-imagen {
    width: 8rem;
    height: 8rem;
    background-color: white;
    border-radius: .5rem;
    margin: 1.4rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
    transition: all .3s ease-in-out;
}

.third-imagen:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 94rem) {
    body {
        grid-template-columns: 1fr;
        max-height: 100vh;
    }
    .main-nav {
        top: 0;
        display: flex;
        width: 100vw;
        height: max-content;
        justify-content: center;
    }
    .main-nav__item {
        display: inline-flex;
        margin: 1.5rem 2rem;
        font-size: 1.3rem;
    }
    [class*="title"] {
        margin-block: 0 0;
    }
    .first-section {
        grid-row: span 1;
        display: flex;
        align-items: center;
    }
    .first-section h1 {
        margin-top: 6rem;
        line-height: 1;
        font-size: 8rem;
    }
    .first-info {
        max-width: 26rem;
    }
    .second-section {
        display: flex;
        align-items: center;
    }
    .second-icon a {
        position: absolute;
        z-index: 1;
        margin-top: 7rem;
        padding-left: 92%
    }
    /* .second-content {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    } */
    .second-section h1 {
        font-size: 5rem;
        line-height: 1;
    }
    .second-info {
        max-width: 26rem;
        margin-inline: auto;
    }
    .third-imagens {
        margin-inline: auto;
    }
    .none {
        display: none;
    }
}

@media screen and (max-width: 60rem) {
    body {
        max-height: 100vh;
    }
    .main-nav__item {
        display: inline-flex;
        margin: 1rem 2rem;
        font-size: 1.3rem;
    }
    [class*="title"] {
        margin-block: 1rem 0;
    }
    .first-section {
        min-height: 40vh;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 4rem;
    }
    .first-section h1 {
        margin-top: 4rem;
        font-size: 6.5rem;
        width: 100vw;
    }
    .first-info {
        font-size: .9rem;
        max-width: 30rem;
    }
    .second-section {
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 2rem;
    }
    .second-section h1 {
        width: 100vw;
        font-size: 4.5rem;
    }
    .second-icon a {
        position: absolute;
        z-index: 1;
        margin-top: 8rem;
        padding-left: 40%
    }
    .second-info {
        max-width: 30rem;
        font-size: .9rem;
    }
    .nonex {
        display: none;
    }
}